# TUGAS BASIS DATA

## Membuat database dari 3 dataset tentang COVID-19 

1. Data statistik perkembangan covid19 di indonesia
2. Data covid19 indonesia per provinsi
3. Data jumlah_rs_rujukan_per_provinsi

## Kelompok 2 Komputasi

1. Zahrotul Aulia (11160940000024)
2. Rani Istiqomah (11170940000007)
3. Rista Cahya Putri (11170940000008)
4. Nadhilah Farhana (11160940000084)
5. Panji Reza Pratama (11160940000044)
6. Tsabita Mahdiyyah Umar (11170940000030)
7. Nihayah Azzahra (11170940000015)
8. Laras Julyanti (11160940000029)
9. Savira Pratiwi (11160940000026)
10. Riza Fahriska (11170940000045)

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/b6/f6/78a05be0987bd531dec8064288f4eef1148fe784c364dd3b37cccf400c02/mysql_connector_python-8.0.19-cp37-cp37m-win_amd64.whl (4.3MB)
Collecting dnspython==1.16.0 (from mysql-connector-python)
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
Collecting protobuf==3.6.1 (from mysql-connector-python)
  Downloading https://files.pythonhosted.org/packages/77/78/a7f1ce761e2c738e209857175cd4f90a8562d1bde32868a8cd5290d58926/protobuf-3.6.1-py2.py3-none-any.whl (390kB)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (40.8.0)
Installing collected packages: dnspython, protobuf, mysql-connector-python
Successfully installed dnspython-1.16.0 mysql-connector-python-8.0.19 protobuf-3.6.1

In [2]:
import mysql.connector as mysql
from time import time

In [3]:
dbPar = {'db_': '', 'usr':'', 'pas':'', 'hst':''}

In [4]:
def conMql(dbPar, maxTry=3):
    try_ = 0
    while try_<maxTry:
        try:
            return mysql.connect(host=dbPar['hst'],user=dbPar['usr'],passwd=dbPar['pas'],db=dbPar['db_'])
        except (mysql.Error) as e:      
            print ("Error Connecting to MySQL %d: %s, please wait retrying" % (e.args[0],e.args[1]))
            try_ += 1; time.sleep(1)

In [5]:
# Create Table 1

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''CREATE TABLE statistik_perkembangan_covid_indonesia (
  hari_ke INT(10) NOT NULL,
  tanggal DATE NOT NULL,
  jumlah_kasus_baru_per_hari INT(10) NOT NULL,
  jumlah_kasus_kumulatif INT(10) NOT NULL,
  jumlah_pasien_dalam_perawatan INT(10) NOT NULL,
  persentase_pasien_dalam_perawatan FLOAT NOT NULL,
  jumlah_pasien_sembuh INT(10) NOT NULL,
  persentase_pasien_sembuh FLOAT NOT NULL,
  jumlah_pasien_meninggal INT(10) NOT NULL,
  persentase_pasien_meninggal FLOAT NOT NULL,
  jumlah_kasus_sembuh_per_hari INT(10) NOT NULL,
  jumlah_kasus_meninggal_per_hari INT(10) NOT NULL,
  jumlah_kasus_dirawat_per_hari INT(10) NOT NULL,
  PRIMARY KEY (tanggal));
  ''')
cur.close();
db.close()
'Done'

'Done'

In [8]:
# Create Table 2

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''CREATE TABLE covid19_indonesia_per_provinsi (
  X VARCHAR(10) DEFAULT NULL,
  Y VARCHAR(11) DEFAULT NULL,
  FID INT(10) DEFAULT NULL,
  kode_prov VARCHAR(8) DEFAULT NULL,
  provinsi VARCHAR(30) NOT NULL,
  kode_posi INT(3) NOT NULL,
  kode_semb INT(3) NOT NULL,
  kode_meni INT(3) NOT NULL,
  PRIMARY KEY (provinsi));
  ''')
cur.close();
db.close()
'Done'

'Done'

In [9]:
# Create Table 3

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''CREATE TABLE jumlah_rs_rujukan_per_provinsi (
    provinsi VARCHAR(30) NOT NULL,
    jumlah VARCHAR(4) NOT NULL,
    PRIMARY KEY (provinsi));
    ''')
cur.close();
db.close()
'Done'

'Done'

In [10]:
# Insert Data 1

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''
INSERT INTO statistik_perkembangan_covid_indonesia
(hari_ke, tanggal, jumlah_kasus_baru_per_hari, jumlah_kasus_kumulatif, jumlah_pasien_dalam_perawatan,
persentase_pasien_dalam_perawatan, jumlah_pasien_sembuh, persentase_pasien_sembuh, jumlah_pasien_meninggal, 
persentase_pasien_meninggal, jumlah_kasus_sembuh_per_hari, jumlah_kasus_meninggal_per_hari, jumlah_kasus_dirawat_per_hari)
VALUES
(1, '2020-03-02', 2, 2, 2, 100, 0, 0, 0, 0, 0, 0, 2),
(2, '2020-03-03', 0, 2, 2, 100, 0, 0, 0, 0, 0, 0, 0),
(3, '2020-03-04', 0, 2, 2, 100, 0, 0, 0, 0, 0, 0, 0),
(4, '2020-03-05', 0, 2, 2, 100, 0, 0, 0, 0, 0, 0, 0),
(5, '2020-03-06', 2, 4, 4, 100, 0, 0, 0, 0, 0, 0, 2),
(6, '2020-03-07', 0, 4, 4, 100, 0, 0, 0, 0, 0, 0, 0),
(7, '2020-03-08', 2, 6, 6, 100, 0, 0, 0, 0, 0, 0, 2),
(8, '2020-03-09', 13, 19, 19, 100, 0, 0, 0, 0, 0, 0, 13),
(9, '2020-03-10', 8, 27, 25, 92.59, 2, 7.41, 0, 0, 2, 0, 6),
(10, '2020-03-11', 7, 34, 31, 91.17, 2, 5.88, 1, 2.94, 0, 1, 6),
(11, '2020-03-12', 0, 34, 31, 91.17, 2, 5.88, 1, 2.94, 0, 0, 0),
(12, '2020-03-13', 35, 69, 63, 91.3, 2, 2.89, 4, 5.79, 0, 3, 32),
(13, '2020-03-14', 27, 96, 83, 86.46, 8, 8.33, 5, 5.21, 6, 1, 20),
(14, '2020-03-15', 21, 117, 104, 88.89, 8, 6.84, 5, 4.27, 0, 0, 21),
(15, '2020-03-16', 17, 134, 121, 90.29, 8, 5.97, 5, 3.73, 0, 0, 17),
(16, '2020-03-17', 38, 172, 158, 91.86, 9, 5.23, 5, 2.91, 1, 0, 37),
(17, '2020-03-18', 55, 227, 197, 86.78, 11, 4.85, 19, 8.37, 2, 14, 39),
(18, '2020-03-19', 81, 308, 268, 87.01, 15, 4.87, 25, 8.12, 4, 6, 71),
(19, '2020-03-20', 61, 369, 320, 86.72, 17, 4.61, 32, 8.67, 2, 7, 52),
(20, '2020-03-21', 81, 450, 392, 87.11, 20, 4.44, 38, 8.44, 3, 6, 72),
(21, '2020-03-22', 64, 514, 437, 85.02, 29, 5.64, 48, 9.34, 9, 10, 45),
(22, '2020-03-23', 65, 579, 500, 86.36, 30, 5.18, 49, 8.46, 1, 1, 63),
(23, '2020-03-24', 106, 685, 600, 87.59, 30, 4.38, 55, 8.03, 0, 6, 100),
(24, '2020-03-25', 105, 790, 701, 88.73, 31, 3.92, 58, 7.34, 1, 3, 101),
(25, '2020-03-26', 103, 893, 780, 87.35, 35, 3.92, 78, 8.73, 4, 20, 79);
''')
cur.close();
db.close()
'Done'

'Done'

In [11]:
# Insert Data 2

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''
INSERT INTO covid19_indonesia_per_provinsi (X, Y, FID, kode_prov, provinsi, kode_posi, kode_semb, kode_meni)
VALUES
('96.9095227', '4.225081892', 1, '11', 'Aceh', 5, 1, 1),
('115.131651', '-8.36974326', 17, '51', 'Bali', 81, 19, 2),
('106.109197', '-6.45618159', 16, '36', 'Banten', 281, 7, 21),
('102.26312', '-3.79116', 7, '17', 'Bengkulu', 4, 0, 1),
('110.445367', '-7.89501381', 14, '34', 'Daerah Istimewa Yogyakarta', 41, 6, 7),
('106.82649', '-6.17148', 11, '31', 'DKI Jakarta', 2044, 142, 195),
('123.06184', '0.53707', 29, '75', 'Gorontalo', 1, 0, 0),
('103.59932', '-1.61775', 5, '15', 'Jambi', 4, 0, 0),
('107.602807', '-6.91998021', 12, '32', 'Jawa Barat', 450, 19, 43),
('110.201112', '-7.25897038', 13, '33', 'Jawa Tengah', 200, 19, 25),
('112.733678', '-7.72011301', 15, '35', 'Jawa Timur', 386, 68, 27),
('111.120762', '-0.08590123', 20, '61', 'Kalimantan Barat', 13, 3, 3),
('115.311307', '-2.44977913', 22, '63', 'Kalimantan Selatan', 34, 0, 2),
('113.181047', '-1.63434004', 21, '62', 'Kalimantan Tengah', 24, 7, 1),
('116.470858', '0.461046227', 23, '64', 'Kalimantan Timur', 35, 6, 1),
('116.216718', '2.888820961', 24, '65', 'Kalimantan Utara', 16, 0, 1),
('105.986948', '-2.25295641', 8, '19', 'Kepulauan Bangka Belitung', 4, 0, 1),
('108.202228', '3.915947241', 10, '21', 'Kepulauan Riau', 21, 2, 1),
('105.018313', '-4.91807308', 9, '18', 'Lampung', 20, 1, 1),
('129.360425', '-3.12611934', 31, '81', 'Maluku', 11, 1, 0),
('128.015929', '0.869337001', 32, '82', 'Maluku Utara', 2, 1, 0),
('117.506862', '-8.60665208', 18, '52', 'Nusa Tenggara Barat', 37, 2, 2),
('121.141829', '-8.60484333', 19, '53', 'Nusa Tenggara Timur', 1, 0, 0),
('140', '-5', 33, '94', 'Papua', 63, 5, 3),
('132.968341', '-2.04172328', 34, '91', 'Papua Barat', 3, 0, 1),
('101.812892', '0.510525849', 4, '14', 'Riau', 16, 1, 0),
('119.343471', '-2.46190201', 30, '76', 'Sulawesi Barat', 5, 2, 1),
('120.161157', '-3.74711571', 27, '73', 'Sulawesi Selatan', 222, 25, 15),
('120.449592', '-1.45921495', 26, '72', 'Sulawesi Tengah', 19, 2, 2),
('122.078678', '-4.13280397', 28, '74', 'Sulawesi Tenggara', 16, 1, 1),
('124.535378', '1.286097687', 25, '71', 'Sulawesi Utara', 17, 1, 2),
('100.466805', '-0.85191434', 3, '13', 'Sumatera Barat', 44, 6, 3),
('104.170419', '-3.21334682', 6, '16', 'Sumatera Selatan', 21, 4, 2),
('99.0578878', '2.184779215', 2, '12', 'Sumatera Utara', 65, 8, 8);
''')
cur.close();
db.close()
'Done'

'Done'

In [12]:
# Insert Data 3

db = conMql(dbPar)
cur = db.cursor()
cur.execute('''
INSERT INTO jumlah_rs_rujukan_per_provinsi (provinsi, jumlah)
VALUES
('Jawa Tengah', '13'), ('Jawa Timur', '11'), ('DKI Jakarta', '8'),
('Jawa Barat', '8'), ('Sulawesi Selatan', '7'), ('Sumatera Utara', '5'),
('Sumatera Selatan', '5'), ('Kalimantan Timur', '5'), ('Sulawesi Tengah', '5'),
('Lampung', '4'), ('Kepulauan Riau', '4'), ('DI Yogyakarta', '4'),
('Bali', '4'), ('Nusa Tenggara Barat', '4'), ('Kalimantan Barat', '4'),
('Sulawesi Utara', '4'), ('Riau', '3'), ('Bengkulu', '3'),
('Nusa Tenggara Timur ', '3'), ('Kalimantan Tengah', '3'), ('Maluku', '3'),
('Papua', '3'), ('Aceh', '2'), ('Sumatera Barat', '2'),
('Kepulauan Bangka Belitung', '2'), ('Banten', '2'), ('Kalimantan Selatan', '2'),
('Kalimantan Utara', '2'), ('Papua Barat', '2'), ('Jambi', '1'),
('Sulawesi Tenggara', '1'), ('Gorontalo', '1'), ('Sulawesi Barat', '1'),
('Maluku Utara', '1');
''')
cur.close();
db.close()
'Done'

'Done'