## Tugas Mata Kuliah Basis Data 
### Nama anggota
1. Cucun Cunaeti                       (11160940000021)
2. Saskia Sahrain                       (11160940000032)
3. Alfi Hasni                                 (11160940000043)  
4. Maisy Amelia Silvani               (11160940000066)
5. Indah Tri Nurlita                      (11160940000082)
6. Siti Aenun Naimatul Jannah              (11170940000004)
7. Irman Suryana                         (11170940000018)
8. Gery Ferdian Aly                      (11170940000039)
9. Tira Amalia                               (11170940000042)
10. Ujang Hasanudin                     (11170940000062)

## Nama dataset :
1. situasi_corona_di_indonesia 
2. kasus_corona_di_cina

## 1. Situasi_Corona_di_Indonesia

In [139]:
import pandas as pd
import mysql.connector as mysql
from time import time

In [134]:
dbPar = {'db_': 'u8494347_mtkfstuin', 'tbl':'', 'usr':'u8494347_mtkfstuin', 'pas':'mtkfstuin', 'hst':'data-university.com'}

In [135]:
def conMql(dbPar, maxTry=3):
    try_ = 0
    while try_<maxTry:
        try:
            return mysql.connect(host=dbPar['hst'],user=dbPar['usr'],passwd=dbPar['pas'],db=dbPar['db_'])
        except (mysql.Error) as e:      
            print ("Error Connecting to MySQL %d: %s, please wait retrying" % (e.args[0],e.args[1]))
            try_ += 1; time.sleep(1)

In [136]:
cases=pd.read_csv('data/cases.csv')
cases.head()

,date,new_tested,acc_tested,new_confirmed,acc_confirmed,acc_negative,being_checked,isolated,new_released,acc_released,new_deceased,acc_deceased,positive_rate,negative_rate,decease_rate,release_rate,dailypositive_rate
0,2-Mar-20,0,339,2,2,335,2,2,0,0,0,0,0.59%,98.82%,0.00%,0.00%,0.00%
1,3-Mar-20,2,341,0,2,337,2,2,0,0,0,0,0.59%,98.83%,0.00%,0.00%,0.00%
2,4-Mar-20,31,372,0,2,356,14,2,0,0,0,0,0.54%,95.70%,0.00%,0.00%,0.00%
3,5-Mar-20,16,388,0,2,371,15,2,0,0,0,0,0.52%,95.62%,0.00%,0.00%,0.00%
4,6-Mar-20,62,450,2,4,422,24,4,0,0,0,0,0.89%,93.78%,0.00%,0.00%,3.23%

In [137]:
cases.dtypes

date                  object
new_tested             int64
acc_tested             int64
new_confirmed          int64
acc_confirmed          int64
acc_negative           int64
being_checked          int64
isolated               int64
new_released           int64
acc_released           int64
new_deceased           int64
acc_deceased           int64
positive_rate         object
negative_rate         object
decease_rate          object
release_rate          object
dailypositive_rate    object
dtype: object

In [138]:
cases['date']=cases['date'].astype('datetime64')
cases.dtypes, cases.head(3).transpose

(date                  datetime64[ns]
 new_tested                     int64
 acc_tested                     int64
 new_confirmed                  int64
 acc_confirmed                  int64
 acc_negative                   int64
 being_checked                  int64
 isolated                       int64
 new_released                   int64
 acc_released                   int64
 new_deceased                   int64
 acc_deceased                   int64
 positive_rate                 object
 negative_rate                 object
 decease_rate                  object
 release_rate                  object
 dailypositive_rate            object
 dtype: object,
 <bound method DataFrame.transpose of         date  new_tested  acc_tested  new_confirmed  acc_confirmed  \
 0 2020-03-02           0         339              2              2
 1 2020-03-03           2         341              0              2
 2 2020-03-04          31         372              0              2

    acc_negative  being_checked  isolated  new_released  acc_released  \
 0           335              2         2             0             0
 1           337              2         2             0             0
 2           356             14         2             0             0

    new_deceased  acc_deceased positive_rate negative_rate decease_rate  \
 0             0             0         0.59%        98.82%        0.00%
 1             0             0         0.59%        98.83%        0.00%
 2             0             0         0.54%        95.70%        0.00%

   release_rate dailypositive_rate
 0        0.00%              0.00%
 1        0.00%              0.00%
 2        0.00%              0.00%  >)

In [126]:
qry = "CREATE TABLE `u8494347_mtkfstuin`.`situasi_corona_di_indonesia` ( `date` DATE NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'waktu kejadian' , `new_tested` INT(5) UNSIGNED NOT NULL COMMENT 'test pasien baru' , `acc_tested` INT(5) UNSIGNED NOT NULL COMMENT 'konfirmasi tes' , `new_confirmed` INT(5) UNSIGNED NOT NULL COMMENT 'baru terkonfirmasi' , `acc_confirmed` INT(5) UNSIGNED NOT NULL COMMENT 'terkonfirmasi positif' , `acc_negative` INT(5) UNSIGNED NOT NULL COMMENT 'terkonfirmasi negatif' , `being_checked` INT(5) UNSIGNED NOT NULL COMMENT 'sedang diperiksa' , `isolated` INT(5) UNSIGNED NOT NULL COMMENT 'isolasi' , `new_released` INT(5) UNSIGNED NOT NULL COMMENT 'yang baru sembuh' , `acc_released` INT(5) UNSIGNED NOT NULL COMMENT 'terkonfirmasi sembuh' , `new_deceased` INT(5) UNSIGNED NOT NULL COMMENT 'kematian baru' , `acc_deceased` INT(5) UNSIGNED NOT NULL COMMENT 'terkonfirmasi wafat' , `positive_rate` VARCHAR(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'tingkat positif' , `negative_rate` VARCHAR(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'tingkat negatif' , `deceased_rate` VARCHAR(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'tingkat kematian' , `release_rate` VARCHAR(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'tingkat kesembuhan' , `dailypositive_rate` VARCHAR(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'tingkat kasus positif per hari' ) ENGINE = MyISAM CHARSET=utf8 COLLATE utf8_general_ci COMMENT = 'Kasus Corona di Indonesia';"
db = conMql(dbPar)
cur = db.cursor()
res = cur.execute(qry)
cur.close()
db.close()
res
'Done'

ProgrammingError: 1050 (42S01): Table 'situasi_corona_di_indonesia' already exists

In [91]:
qry = "INSERT INTO `situasi_corona_di_indonesia` (`date`, `new_tested`, `acc_tested`, `new_confirmed`, `acc_confirmed`, `acc_negative`, `being_checked`, `isolated`, `new_released`, `acc_released`, `new_deceased`, `acc_deceased`, `positive_rate`, `negative_rate`, `deceased_rate`, `release_rate`, `dailypositive_rate`) VALUES ('2020-03-02', '0', '339', '2', '2', '335', '2', '2', '0', '0', '0', '0', '0.59%', '98.82%', '0.00%', '0.00%', '0.00%'), ('2020-03-03', '2', '341', '0', '2', '337', '2', '2', '0', '0', '0', '0', '0.59%', '98.83%', '0.00%', '0.00%', '0.00%'), ('2020-03-04', '31', '372', '0', '2', '356', '14', '2', '0', '0', '0', '0', '0.54%', '95.70%', '0.00%', '0.00%', '0.00%'), ('2020-03-05', '16', '388', '0', '2', '371', '15', '2', '0', '0', '0', '0', '0.52%', '95.62%', '0.00%', '0.00%', '0.00%'), ('2020-03-06', '62', '450', '2', '4', '422', '24', '4', '0', '0', '0', '0', '0.89%', '93.78%', '0.00%', '0.00%', '3.23%'), ('2020-03-07', '4', '454', '0', '4', '422', '28', '4', '0', '0', '0', '0', '0.88%', '92.95%', '0.00%', '0.00%', '0.00%'), ('2020-03-08', '29', '483', '2', '6', '445', '32', '6', '0', '0', '0', '0', '1.24%', '92.13%', '0.00%', '0.00%', '6.90%'), ('2020-03-09', '60', '543', '13', '19', '487', '37', '19', '0', '0', '0', '0', '3.50%', '89.69%', '0.00%', '0.00%', '21.67%'), ('2020-03-10', '151', '694', '8', '27', '648', '19', '27', '0', '0', '0', '0', '3.89%', '93.37%', '0.00%', '0.00%', '5.30%'), ('2020-03-11', '99', '793', '7', '34', '744', '15', '30', '2', '2', '2', '2', '4.29%', '93.82%', '5.88%', '5.88%', '7.07%'), ('2020-03-12', '69', '862', '0', '34', '811', '17', '27', '1', '3', '2', '4', '3.94%', '94.08%', '11.76%', '8.82%', '0.00%'), ('2020-03-13', '143', '1005', '35', '69', '917', '19', '60', '2', '5', '0', '4', '6.87%', '91.24%', '5.80%', '7.25%', '24.48%'), ('2020-03-14', '200', '1205', '27', '96', '1109', '0', '83', '3', '8', '1', '5', '7.97%', '92.03%', '5.21%', '8.33%', '13.50%'), ('2020-03-15', '88', '1293', '21', '117', '1167', '9', '104', '0', '8', '0', '5', '9.05%', '90.26%', '4.27%', '6.84%', '23.86%'), ('2020-03-16', '43', '1330', '17', '134', '1183', '13', '121', '0', '8', '0', '5', '10.08%', '88.95%', '3.73%', '5.97%', '23.86%'), ('2020-03-17', '142', '1372', '38', '172', '1278', '22', '156', '1', '9', '2', '7', '12.54%', '93.15%', '4.07%', '5.23%', '26.76%'), ('2020-03-18', '220', '1592', '55', '227', '1342', '23', '197', '2', '11', '12', '19', '14.26%', '84.30%', '8.37%', '4.85%', '25.00%'), ('2020-03-19', '306', '1651', '82', '309', '1570', '19', '269', '4', '15', '6', '25', '18.72%', '95.09%', '8.09%', '4.85%', '26.80%'), ('2020-03-20', '130', '2028', '60', '369', '1643', '18', '321', '1', '16', '7', '32', '18.20%', '81.02%', '8.67%', '4.34%', '46.15%');"
db = conMql(dbPar)
cur = db.cursor()
res = cur.execute(qry)
cur.close()
db.close()
res
'Done'

'Done'

In [93]:
import pandas as pd
db = conMql(dbPar)
query = "SELECT*FROM situasi_corona_di_indonesia"
data = pd.read_sql(query,db)
data.head()

,date,new_tested,acc_tested,new_confirmed,acc_confirmed,acc_negative,being_checked,isolated,new_released,acc_released,new_deceased,acc_deceased,positive_rate,negative_rate,deceased_rate,release_rate,dailypositive_rate
0,2020-03-02,0,339,2,2,335,2,2,0,0,0,0,0.59%,98.82%,0.00%,0.00%,0.00%
1,2020-03-03,2,341,0,2,337,2,2,0,0,0,0,0.59%,98.83%,0.00%,0.00%,0.00%
2,2020-03-04,31,372,0,2,356,14,2,0,0,0,0,0.54%,95.70%,0.00%,0.00%,0.00%
3,2020-03-05,16,388,0,2,371,15,2,0,0,0,0,0.52%,95.62%,0.00%,0.00%,0.00%
4,2020-03-06,62,450,2,4,422,24,4,0,0,0,0,0.89%,93.78%,0.00%,0.00%,3.23%

## 2. Kasus corona di China

In [140]:
dbPar = {'db_': 'u8494347_mtkfstuin', 'tbl':'', 'usr':'u8494347_mtkfstuin', 'pas':'mtkfstuin', 'hst':'data-university.com'}

In [141]:
def conMql(dbPar, maxTry=3):
    try_ = 0
    while try_<maxTry:
        try:
            return mysql.connect(host=dbPar['hst'],user=dbPar['usr'],passwd=dbPar['pas'],db=dbPar['db_'])
        except (mysql.Error) as e:      
            print ("Error Connecting to MySQL %d: %s, please wait retrying" % (e.args[0],e.args[1]))
            try_ += 1; time.sleep(1)

In [142]:
china_cases=pd.read_csv('data/china case.csv')
china_cases.head()

        Date  Confirmed  Death  Recovery
0  1/22/2020        444     17        28
1  1/23/2020        444     17        28
2  1/24/2020        549     24        31
3  1/25/2020        761     40        32
4  1/26/2020       1058     52        42

In [143]:
china_cases.dtypes

Date         object
Confirmed     int64
Death         int64
Recovery      int64
dtype: object

In [144]:
china_cases['Date']=china_cases['Date'].astype('datetime64')
china_cases.dtypes

Date         datetime64[ns]
Confirmed             int64
Death                 int64
Recovery              int64
dtype: object

In [145]:
qry = "CREATE TABLE `u8494347_mtkfstuin`.`kasus_corona_di_cina` ( `Date` DATE NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'waktu kejadian' , `Confirmed` INT(6) UNSIGNED NOT NULL COMMENT 'jumlah pasien yang terkonfirmasi' , `Death` INT(6) UNSIGNED NOT NULL COMMENT 'jumlah pasien yang meninggal' , `Recovery` INT(6) UNSIGNED NOT NULL COMMENT 'jumlah pasien yang sembuh' ) ENGINE = MyISAM CHARSET=utf8 COLLATE utf8_general_ci COMMENT = 'corona_hubei_cina';"
db = conMql(dbPar)
cur = db.cursor()
res = cur.execute(qry)
cur.close()
db.close()
res
'Done'

'Done'

In [146]:
qry = "INSERT INTO `kasus_corona_di_cina` (`Date`, `Confirmed`, `Death`, `Recovery`) VALUES ('2020-01-22', '444', '17', '28'), ('2020-01-23', '444', '17', '28'), ('2020-01-24', '549', '24', '31'), ('2020-01-25', '761', '40', '32'), ('2020-01-26', '1058', '52', '42'), ('2020-01-27', '1423', '76', '45'), ('2020-01-28', '3554', '125', '80'), ('2020-01-29', '3554', '125', '88'), ('2020-01-30', '4903', '162', '90'), ('2020-01-31', '5806', '204', '141'), ('2020-02-01', '7153', '249', '168'), ('2020-02-02', '11177', '350', '295'), ('2020-02-03', '13522', '414', '386'), ('2020-02-04', '16678', '479', '522'), ('2020-02-05', '19665', '549', '633'), ('2020-02-06', '22112', '618', '817'), ('2020-02-07', '24953', '699', '1115'), ('2020-02-08', '27100', '780', '1439'), ('2020-02-09', '29631', '871', '1795'), ('2020-02-10', '31728', '974', '2222'), ('2020-02-11', '33366', '1068', '2639'), ('2020-02-12', '33366', '1068', '2686'), ('2020-02-13', '48206', '1310', '3459'), ('2020-02-14', '54406', '1457', '4774'), ('2020-02-15', '56249', '1596', '5623'), ('2020-02-16', '58182', '1696', '6639'), ('2020-02-17', '59989', '1789', '7862'), ('2020-02-18', '61682', '1921', '9128'), ('2020-02-19', '62031', '2029', '10337'), ('2020-02-20', '62442', '2144', '11788'), ('2020-02-21', '62662', '2144', '11881'), ('2020-02-22', '64084', '2346', '15299'), ('2020-02-23', '64084', '2346', '15343'), ('2020-02-24', '64287', '2495', '16748'), ('2020-02-25', '64786', '2563', '18971'), ('2020-02-26', '65187', '2615', '20969'), ('2020-02-27', '65596', '2641', '23383'), ('2020-02-28', '65914', '2682', '26403'), ('2020-02-29', '66337', '2727', '28993'), ('2020-03-01', '66907', '2761', '31536'), ('2020-03-02', '67103', '2803', '33934'), ('2020-03-03', '67217', '2835', '36208'), ('2020-03-04', '67332', '2871', '38557'), ('2020-03-05', '67466', '2902', '40592'), ('2020-03-06', '67592', '2931', '42033'), ('2020-03-07', '67666', '2959', '43500'), ('2020-03-08', '67707', '2986', '45235'), ('2020-03-09', '67743', '3008', '46488'), ('2020-03-10', '67760', '3024', '47743'), ('2020-03-11', '67773', '3046', '49134'), ('2020-03-12', '67781', '3056', '50318'), ('2020-03-13', '67786', '3062', '51553'), ('2020-03-14', '67790', '3075', '52960'), ('2020-03-15', '67794', '3085', '54288'), ('2020-03-16', '67798', '3099', '55142'), ('2020-03-17', '67799', '3111', '56003'), ('2020-03-18', '67800', '3122', '56927'), ('2020-03-19', '67800', '3130', '57682'), ('2020-03-20', '67800', '3133', '58382'), ('2020-03-21', '67800', '3139', '58946'), ('2020-03-22', '67800', '3153', '59433'), ('2020-03-23', '67800', '3153', '59879'), ('2020-03-24', '67801', '3160', '60324'), ('2020-03-25', '67801', '3163', '60811'), ('2020-03-26', '67801', '3169', '61201')"
db = conMql(dbPar)
cur = db.cursor()
res = cur.execute(qry)
cur.close()
db.close()
res
'Done'

'Done'

In [148]:
import pandas as pd
db = conMql(dbPar)
query = "SELECT*FROM kasus_corona_di_cina"
data = pd.read_sql(query,db)
data.head()

         Date  Confirmed  Death  Recovery
0  2020-01-22        444     17        28
1  2020-01-23        444     17        28
2  2020-01-24        549     24        31
3  2020-01-25        761     40        32
4  2020-01-26       1058     52        42